<section>
    <div class="container my-5">

        <a href="/admin/cancel-all-orders" onclick="return confirm('Are You Sure to Cancel All Orders ?')"
            class="btn btn-danger mb-2">Cancel All Orders</a>

        <div class="table-responsive" style="overflow: visible;">
            <table class="table" id="table">
                <thead class="table-dark">
                    <tr class="align-middle">
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Pincode</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Status</th>
                        <th scope="col">Cancel</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each orders}}
                    <tr class="align-middle">
                        <td>{{this.orderObject.date}}</td>
                        <td>{{this.orderObject.user.Name}}</td>
                        <td>{{this.orderObject.user.Email}}</td>
                        <td>{{this.orderObject.deliveryDetails.address}}</td>
                        <td>{{this.orderObject.deliveryDetails.pincode}}</td>
                        <td>{{this.orderObject.deliveryDetails.mobile}}</td>
                        <td>{{this.orderObject.totalAmount}}</td>
                        <td>{{this.orderObject.paymentMethod}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{this.orderObject.status}}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item"
                                            href="/admin/change-status/?status=placed&orderId={{this._id}}">placed</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="/admin/change-status/?status=shipping&orderId={{this._id}}">shipping</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="/admin/change-status/?status=shipped&orderId={{this._id}}">shipped</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="/admin/change-status/?status=delivering&orderId={{this._id}}">delivering</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="/admin/change-status/?status=delivered&orderId={{this._id}}">delivered</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <a href="/admin/cancel-order/{{this._id}}"
                                onclick="return confirm('Are You Sure to Cancel This Order ?')"
                                class="btn btn-danger">Cancel</a>
                        </td>
                        <td>
                            <a href="/admin/view-ordered-products/{{this._id}}" class="btn btn-primary">Product</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>